.form {
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form>* {
    width: 100%;
    box-sizing: border-box;
}

.form>*:first-child {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

input[type='number'] {
    padding: 10px;
    font-size: 16px;
}